body {
  background: #363330;
  color: white;
}

.fill-space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.frame {
  width: 480px;
  height: 360px;
  position: absolute;

  background-color: #43403D;
  border: 1px solid #A9A6A3;
  color: white;

  border-radius: 4px;
}

.frame-handle {
  height: 22px;
  line-height: 22px;
  background-color: #A9A6A3;
  color: #363330;
  overflow: hidden;
  cursor: move;
  padding-left: 8px;
  /* Disable text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}

.frame-content {
  padding: 6px;
  font-family: monospace;
}
